@use "../abstracts" as a;

body {
  font-family: alta, sans-serif;
  color: var(--colors-black);
  user-select: none;
}

h1,
h2,
h3 {
  font-family: josefinsans, sans-serif;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;

  @media (min-width: a.$media-tablet) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2rem;

  @media (min-width: a.$media-tablet) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media (min-width: a.$media-tablet) {
    font-size: 2rem;
  }
}

p {
  font-size: a.rem(15);
  line-height: 1.65;
  opacity: 50%;
}
