:root {
  // these can actually be used in other selectors
  // these can also be changed in javascript, unlike sass variables
  --color-background: hsl(0, 0%, 11%);
  --color-text: hsl(0, 0%, 100%);
}
