:root {
  --color-white: #fff;
  --color-grey-l: #acc1de;
  --color-grey-d: #5e6e85;
  --color-black: #000;
  --color-blue-xl: #e1e7fe;
  --color-blue-l: #b3d3f1;
  --color-blue: #345ff6;
  --color-blue-d: #253347;
  --color-blue-shadow: #e1e7feb3;
  --color-grade-1: #d6fcfe00;
  --color-grade-2: #d6e6fe;
}

@font-face {
  font-family: inter;
  src: url(fonts/inter.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  cursor: pointer;
}

html {
  font-family: inter;
  font-size: 62.5%;
  user-select: none;
}

.gradient {
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 64rem;
  background: linear-gradient(
    to right,
    var(--color-grade-1),
    var(--color-grade-2)
  );
  background-repeat: no-repeat;
  border-radius: 0 0 3.5rem 0;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  margin-bottom: 6.4rem;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-description {
  display: grid;
  justify-items: center;
}

.title-main {
  margin-bottom: 2.4rem;
  max-width: 30rem;
  color: var(--color-blue-d);
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.logo {
  margin-bottom: 3.2rem;
  height: 4rem;
  width: 4rem;
}

.description {
  margin-bottom: 3.2rem;
  color: var(--color-grey-d);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.calculator {
  padding: 2.4rem;
  background: var(--color-white);
  border-radius: 1.6rem;
  box-shadow: 0 1.2rem 2.4rem var(--color-blue-shadow);
  width: 100%;
  user-select: none;
  text-align: start;
}

.title-calc {
  margin-bottom: 2.4rem;
  color: var(--color-blue-d);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.units {
  margin-bottom: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.radio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 2.6rem;
  align-items: center;
}

input[type="radio"] {
  appearance: none;
  width: 3.1rem;
  height: 3.1rem;
  border: 0.1rem solid var(--color-blue);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1.5rem 1.5rem var(--color-blue);
  background-color: var(--color-blue);
}

input[type="radio"]:checked {
  background-color: var(--color-blue-xl);
  border: 0.1rem solid var(--color-blue-xl);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.unit {
  display: grid;
  gap: 1.6rem;
}

.measurements {
  margin-bottom: 2.4rem;
}

.measurement {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.measurement__label {
  color: var(--color-grey-d);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
}

.measurement__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.measurement__input {
  border: 0.1rem solid var(--color-grey-d);
  border-radius: 1.2rem;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.measurement__input input {
  width: 100%;
  border: none;
  color: var(--color-grey-d);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.measurement__input span {
  color: var(--color-blue);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.bmi {
  padding: 3.2rem;
  background: var(--color-blue);
  border-radius: 1.6rem;
  color: var(--color-white);
  display: grid;
  gap: 2.4rem;
}

.bmi__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.bmi__description {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
}

.bmi__result {
  display: grid;
  gap: 0.8rem;
}

.bmi__result__prefix {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.bmi__result__actual {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.bmi__explanation {
  user-select: text;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
}

.bmi__explanation strong {
  font-weight: 700;
}

.hero-image {
  margin-bottom: 4.8rem;
  max-width: 100%;
}

.meaning {
  margin: 0 2.35rem 4.8rem 2.35rem;
}

.meaning__title {
  margin-bottom: 3.2rem;
  color: var(--color-blue-d);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.meaning_description {
  color: var(--color-grey-d);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.tips-aside {
  margin-bottom: 8.2rem;
  padding: 4.8rem 2.4rem;
  background: linear-gradient(
    to right,
    var(--color-grade-1),
    var(--color-grade-2)
  );
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tip {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.tip__icon {
  width: 6.4rem;
  height: 6.4rem;
}

.tip__title {
  margin-bottom: 2.4rem;
  color: var(--color-blue-d);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.tip__description {
  color: var(--color-grey-d);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.limitations-aside {
  margin: 0 2.4rem 8.2rem 2.4rem;
  display: grid;
  gap: 1.6rem;
}

.limitations-text {
  margin-bottom: 4rem;
  text-align: center;
}

.limitations-text__title {
  margin-bottom: 3.2rem;
  color: var(--color-blue-d);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.limitations-text-description {
  color: var(--color-grey-d);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.limitations {
  display: flex;
}

.limitation {
  padding: 2.4rem;
  box-shadow: 0 2.4em 2.4rem var(--color-blue-shadow);
  border-radius: 1.6rem;
  display: grid;
  gap: 1.6rem;
}

.limitation__header {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.limitation__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.limitation__title {
  color: var(--color-blue-d);
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.limitation__description {
  color: var(--color-grey-d);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.limit--blank {
  display: none;
  box-shadow: none;
}

.curve {
  display: none;
  z-index: -1;
  position: absolute;
}

.hidden {
  display: none;
}

@media (min-width: calc(768em / 16)) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main {
    width: 68.6rem;
    padding: 3.2rem 0 0 0;
  }

  .title-main {
    max-width: 40rem;
  }

  .logo,
  .description {
    margin-bottom: 4rem;
  }

  .calculator {
    padding: 3.2rem;
  }

  .title-calc,
  .units,
  .measurements {
    margin-bottom: 3.2rem;
  }

  .unit {
    gap: 3.2rem;
  }

  .metric {
    grid-template-columns: 1fr 1fr;
  }

  .bmi {
    border-radius: 1.6rem 999rem 999rem 1.6rem;
  }

  .bmi--result {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    align-items: center;
  }

  .meaning-aside {
    position: relative;
    max-width: 76.8rem;
    overflow: hidden;
    margin-bottom: 9.6rem;
    display: flex;
    justify-content: flex-end;
  }

  .meaning-inner {
    width: 84.1rem;
    display: grid;
    grid-template-columns: 435fr 331fr;
    gap: 7.2rem;
    flex-shrink: 0;
  }

  .hero-image,
  .meaning {
    margin: unset;
  }

  .meaning {
    display: grid;
    align-content: center;
  }

  .tips-aside {
    width: 100%;
    align-items: center;
  }

  .tip,
  .limitations-aside {
    max-width: 68.6rem;
  }

  .tip {
    flex-direction: row;
    gap: 4rem;
  }

  .limitations-aside {
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .limitations-text,
  .limit--5 {
    grid-column: span 2;
  }

  .limit--5 {
    max-width: 33.5rem;
  }

  .limitation {
    padding: 3.2rem;
  }
}

@media (min-width: calc(1440em / 16)) {
  .gradient {
    width: 70%;
    height: 73.7rem;
  }

  .main {
    margin-bottom: 0;
    height: 73.7rem;
    width: 116rem;
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    align-items: start;
  }

  .logo {
    margin-bottom: 2.4rem;
    grid-column: span 2;
  }

  .title-main {
    font-size: 6.4rem;
    max-width: 50rem;
  }

  .title-break::before {
    content: "\A";
    white-space: pre;
  }

  .title-description {
    max-width: 46.5rem;
    margin-top: 7.2rem;
    justify-items: start;
  }

  .title-main,
  .title-description {
    text-align: start;
  }

  .meaning-aside {
    margin-bottom: 8.6rem;
    padding-top: 5.2rem;
    max-width: 116rem;
  }

  .meaning-inner {
    width: 116rem;
    grid-template-columns: 564fr 465fr;
    gap: 13.1rem;
    flex-shrink: unset;
  }

  .meaning {
    margin-top: 18.4rem;
    align-content: flex-start;
  }

  .meaning__title {
    overflow: unset;
    font-size: 4.8rem;
  }

  .tips-aside {
    border-radius: 3.5rem;
    flex-direction: row;
    gap: 3.2rem;
  }

  .tip {
    max-width: 36.5rem;
    flex-direction: column;
    gap: 4.8rem;
  }

  .limitations-aside {
    max-width: 116rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .limitations-text {
    max-width: 56.4rem;
    text-align: start;
  }

  .limitation {
    width: 36.5rem;
  }

  .limit--5 {
    max-width: unset;
  }

  .limit--blank {
    display: block;
  }

  .curve {
    display: block;
  }

  .curve--left {
    transform: translateY(-5.2rem);
  }

  .curve--right {
    top: 25rem;
    left: 15rem;
  }
}
