:root {
  --color-green-l: hsl(148, 38%, 91%);
  --color-green: hsl(169, 82%, 27%);
  --color-green-d: hsl(169, 82%, 13.5%);
  --color-red: hsl(0, 66%, 54%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(186, 15%, 59%);
  --color-grey-d: hsl(187, 24%, 22%);

  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4rem;
  --space-xxxl: 12.8rem;
}

@font-face {
  font-family: karla;
  src: url(fonts/karla.ttf);
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: karla, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  letter-spacing: 0rem;
  color: var(--color-grey-d);
}

body {
  background: var(--color-green-l);
}

main {
  margin: var(--space-xl) var(--space-md);
  padding: var(--space-lg);
  border-radius: var(--space-md);
  background: var(--color-white);
}

.heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.1rem;
}

.body-md {
  font-size: 1.8rem;
}

.body-md-b {
  font-size: 1.8rem;
  font-weight: 700;
}

.body-sm {
  font-size: 1.6rem;
}

form {
  display: grid;
  gap: var(--space-xxl);
}

.fields {
  display: grid;
  gap: var(--space-lg);
}

.name {
  display: grid;
  gap: var(--space-lg);
}

.field {
  display: grid;
  gap: var(--space-xs);
}

.label {
  font-size: 1.6rem;
}

.required {
  margin-left: var(--space-xs);
  color: var(--color-green);
}

.input,
.radio {
  border: 0.1rem solid var(--color-grey);
  border-radius: var(--space-xs);
  padding: var(--space-sm) var(--space-lg);
}

.input:focus,
.input:hover {
  outline: none;
  border: 0.1rem solid var(--color-green);
  box-shadow: 0 0 0 0.1rem var(--color-green);
}

.error .input {
  border: 0.1rem solid var(--color-red);
}

.radio {
  display: flex;
  gap: var(--space-sm);
}

.radio input[type="radio"] {
  appearance: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--color-green-l);
  border-radius: 50%;
  transform: translateY(0.2rem);
  display: grid;
  place-content: center;
}

.radio input[type="radio"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--color-green);
}

.radio input[type="radio"]:checked {
  border: 0.2rem solid var(--color-green);
}

.radio:has(input[type="radio"]:checked) {
  border: 0.1rem solid var(--color-green);
  background: var(--color-green-l);
}

.radio input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--color-green-d);
}

.error .input {
  --input-color: var(--color-red);
}

.error_message {
  font-size: 1.6rem;
  color: var(--color-red);
}

fieldset {
  all: unset;
  display: grid;
  gap: var(--space-md);
}

legend {
  margin-bottom: var(--space-md);
}

.checkbox {
  display: flex;
  gap: var(--space-sm);
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.18rem solid var(--color-grey);
  border-radius: 0.15em;
  transform: translateY(0.36rem);
  display: grid;
  place-content: center;
}

.checkbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background: var(--color-green);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-white);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox input[type="checkbox"]:checked {
  border: 0.18rem solid var(--color-green);
  background: var(--color-green);
}

.checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: var(--space-xs);
  background: var(--color-green);
  padding: var(--space-md);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-white);
}

.btn:hover {
  background: var(--color-green-d);
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: var(--space-lg);
  border: none;
  border-radius: var(--space-md);
  background: var(--color-grey-d);
  padding: var(--space-lg);
  color: var(--color-white);
  font-size: 1.6rem;
}

h2 {
  margin-bottom: var(--space-xs);
  font-size: 1.8rem;
  font-weight: 700;
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
