:root {
  --color-yellow: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);
  --color-white: hsl(0, 100%, 100%);
  --color-grey-vl: hsl(36, 100%, 99%);
  --color-grey-l: hsl(233, 8%, 79%);
  --color-grey: hsl(236, 13%, 42%);
  --color-grey-d: hsl(240, 100%, 5%);
}

@font-face {
  font-family: inter;
  src: url(fonts/inter.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-family: inter, sans-serif;
  font-size: 62.5%;
  letter-spacing: 0rem;
  color: var(--color-grey-d);
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 2.8rem 1.6rem;
  display: grid;
  gap: 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  max-height: 2.8rem;
}

.nav-open {
  max-height: 1.7rem;
}

.nav-close {
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: 9rem;
  align-self: flex-end;
}

.nav {
  transform: translateX(100%);
  position: absolute;
  width: 25.6rem;
  height: 100%;
  padding: 2.8rem 2.4rem;
  background: var(--color-white);
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.open {
  transform: translateX(0);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
}

.nav__list {
  display: grid;
  gap: 2.4rem;
}

.nav__list__item a:link,
.nav__list__item a:visited,
.nav__list__item a:focus,
.nav__list__item a:hover,
.nav__list__item a:active {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--color-grey-d);
}

.main-content {
  display: grid;
  gap: 6.4rem;
}

.home__img {
  margin-bottom: 2.4rem;
  max-width: 100%;
}

.home__title {
  margin-bottom: 1.6rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}

.home__text {
  margin-bottom: 2.4rem;
  line-height: 2.6rem;
  color: var(--color-grey);
}

.home__btn {
  border: none;
  background: var(--color-red);
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
}

.article--new {
  background: var(--color-grey-d);
  padding: 2.4rem;
}

.new__title {
  margin-bottom: 3.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-yellow);
}

.new__list__item h3 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-grey-vl);
}

.new__list__item p {
  line-height: 2.6rem;
  color: var(--color-grey-l);
}

.line {
  border-bottom: 0.1rem solid var(--color-grey);
  margin: 3.2rem 0;
}

.trending__list {
  display: grid;
  gap: 3.2rem;
}

.trending__list__item {
  display: flex;
  gap: 2.4rem;
}

.trending__list__item__img {
  max-width: 10rem;
  grid-row: 1 / -1;
}

.trending__list__item__detail__number {
  margin-bottom: 1.2rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--color-red);
}

.trending__list__item__detail__title {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.4rem;
}

.trending__list__item__detail__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--color-grey);
}
