:root {
  --color-green: #31c3bd;
  --color-green-s: #118c87;
  --color-green-l: #65e9e4;
  --color-orange: #f2b137;
  --color-orange-s: #cc8b13;
  --color-orange-l: #ffc860;
  --color-grey-l: #dbe8ed;
  --color-grey: #a8bfc9;
  --color-grey-s: #6b8997;
  --color-grey-d: #1f3641;
  --color-grey-d-s: #10212a;
  --color-grey-vd: #1a2a33;

  --turn: url(images/icon-x-outline.svg);
}

@font-face {
  font-family: outfit;
  src: url(fonts/outfit.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: outfit;
}

input[type="radio"] {
  appearance: none;
  cursor: pointer;
}

html {
  background-color: var(--color-grey-vd);
  font-family: outfit;
  font-size: 62.5%;
  user-select: none;
  color: var(--color-grey);
  text-transform: uppercase;
  line-height: 1;
}

.x {
  background: url(images/icon-x.svg);
}

.o {
  background: url(images/icon-o.svg);
}

.outer {
  height: 100dvh;
  display: grid;
  justify-content: center;
}

.content {
  margin: 2.35rem;
  max-width: 46rem;
  background-color: var(--color-grey-vd);
}

.menu {
  height: 100%;
  display: grid;
  gap: 3.2rem;
  justify-items: center;
  align-content: center;
}

.choose-token {
  padding: 2.4rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem var(--color-grey-d-s);
  background-color: var(--color-grey-d);
  display: grid;
  justify-items: center;
}

.choose__top {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.choose__tokens {
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 0.9rem;
  border-radius: 1rem;
  background-color: var(--color-grey-vd);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.choose__token {
  border-radius: 1rem;
  height: 5.4rem;
  width: 100%;
}

.choose__token:has(.token:focus) {
  outline: var(--color-grey-l) solid 0.2rem;
}

.choose__token:has(.token:checked) {
  background-color: var(--color-grey-s);
}

.token {
  height: 100%;
  width: 100%;
  background-size: 3.2rem 3.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(389%)
    hue-rotate(153deg) brightness(94%) contrast(91%);
}

.token:checked {
  filter: brightness(0) saturate(100%) invert(16%) sepia(14%) saturate(994%)
    hue-rotate(158deg) brightness(97%) contrast(102%);
}

.choose__bottom {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.088rem;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.game {
  display: grid;
  gap: 2.8rem;
}

.top {
  margin-bottom: 3.6rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.turn {
  justify-self: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem var(--color-grey-d-s);
  background-color: var(--color-grey-d);
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.turn__icon {
  width: 1.6rem;
  height: 1.6rem;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(389%)
    hue-rotate(153deg) brightness(94%) contrast(91%);
}

.turn__text {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.btn--reset {
  height: 3.6rem;
  width: 4rem;
  background-color: var(--color-grey);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem var(--color-grey-s);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.reset img {
  height: 1.6rem;
  width: 1.6rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.square {
  height: 8.8rem;
  width: 9.6rem;
  border: none;
  border-radius: 1rem;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--color-grey-d);
  box-shadow: 0 0.8rem var(--color-grey-d-s);
}

.square:not(.x):not(.o):hover {
  background: var(--turn);
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--color-grey-d);
}

.scores {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-grey-vd);
}

.score {
  height: 6.4rem;
  width: 9.6rem;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.score-x {
  background-color: var(--color-green);
}

.score-t {
  background-color: var(--color-grey);
}

.score-o {
  background-color: var(--color-orange);
}

.score__text {
  justify-self: center;
  align-self: flex-end;
  font-size: 1.2rem;
  letter-spacing: 0.075rem;
}

.score__number {
  justify-self: center;
  align-self: flex-start;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
}

.modal {
  margin: auto;
  max-width: 100%;
  border: none;
  padding: 6.4rem 0;
  width: 100%;
  background-color: var(--color-grey-d);
  color: var(--color-grey);
  user-select: none;
}

.modal-container {
  display: grid;
  justify-items: center;
}

.modal__winner {
  margin-bottom: 1.6rem;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.088rem;
}

.modal__outcome {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

.outcome {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.outcome img {
  height: 2.8rem;
  width: 2.8rem;
}

.outcome--x {
  color: var(--color-green);
}

.outcome--o {
  color: var(--color-orange);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__buttons {
  display: flex;
  gap: 1.6rem;
}

.modal__buttons .btn {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.modal__reset {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  padding: 1.6rem;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-grey-vd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn--reset:hover {
  opacity: 70%;
}

.btn--primary {
  background-color: var(--color-orange);
  box-shadow: 0 0.4rem var(--color-orange-s);
}

.btn--secondary {
  background-color: var(--color-grey);
  box-shadow: 0 0.4rem var(--color-grey-s);
}

.btn--tertiary {
  background-color: var(--color-green);
  box-shadow: 0 0.4rem var(--color-green-s);
}

.hidden {
  display: none;
}

@media (min-width: calc(375em / 16)) {
  .choose-token,
  .menu__buttons {
    min-width: 32.7rem;
  }
}

@media (min-width: calc(768em / 16)) {
  .outer {
    align-items: center;
  }

  .menu {
    gap: 4rem;
  }

  .content,
  .choose-token,
  .menu__buttons {
    width: 46rem;
  }

  .menu__buttons {
    gap: 2rem;
  }

  .btn {
    font-size: 2rem;
    letter-spacing: 0.125rem;
  }

  .top {
    margin-bottom: 2.4rem;
  }

  .game {
    gap: 0;
  }

  .turn {
    padding: 1.4rem 3rem;
    border-radius: 1rem;
    gap: 1.3rem;
  }

  .turn__icon {
    height: 2rem;
    width: 2rem;
    background-size: 2rem 2rem;
  }

  .turn__text {
    font-size: 1.6rem;
  }

  .btn--reset {
    height: 4.8rem;
    width: 5.2rem;
    border-radius: 1rem;
  }

  .board {
    margin-bottom: 2.8rem;
  }

  .square {
    height: 13.2rem;
    width: 14rem;
    border-radius: 1.5rem;
    background-size: 6.4rem 6.4rem;
  }

  .square:not(.x):not(.o):hover {
    background-size: 6.4rem 6.4rem;
  }

  .score {
    height: 7.2rem;
    width: 14rem;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .score-x {
    background-color: var(--color-green);
  }

  .score-t {
    background-color: var(--color-grey);
  }

  .score-o {
    background-color: var(--color-orange);
  }

  .score__text {
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
    letter-spacing: 0.088rem;
  }

  .score__number {
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
  }

  .modal {
    min-height: 26.6rem;
  }

  .modal__winner {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }

  .modal__outcome {
    font-size: 4rem;
    letter-spacing: 0.25rem;
  }

  .outcome img {
    height: 6.4rem;
    width: 6.4rem;
  }

  .modal__reset {
    margin-bottom: 3.2rem;
    font-size: 4rem;
    letter-spacing: 0.25rem;
  }
}
