:root {
  --color-primary: #a729f5;
  --color-neutral-xl: #f4f6fa;
  --color-neutral-l: #abc1e1;
  --color-neutral: #626c7f;
  --color-neutral-d: #3b4d66;
  --color-neutral-xd: #313e51;
  --color-white: #fff;
  --color-green: #26d782;
  --color-green-l: #e0fdef;
  --color-red: #ee5454;
  --color-orange-l: #fff1e9;
  --color-blue: #306aff;
  --color-blue-l: #ebf0ff;
  --color-purple-l: #f6e7ff;

  --space-unit: 1.6rem;
  --space-xxxxs: calc(0.25 * var(--space-unit)); /* 4 */
  --space-xxxs: calc(0.375 * var(--space-unit)); /* 6 */
  --space-xxs: calc(0.5 * var(--space-unit)); /* 8 */
  --space-xs: calc(0.75 * var(--space-unit)); /* 12 */
  --space-sm: calc(1 * var(--space-unit)); /* 16 */
  --space-md: calc(1.25 * var(--space-unit)); /* 20 */
  --space-lg: calc(1.5 * var(--space-unit)); /* 24 */
  --space-xl: calc(2 * var(--space-unit)); /* 32 */
  --space-xxl: calc(2.5 * var(--space-unit)); /* 40 */
  --space-xxxl: calc(3 * var(--space-unit)); /* 48 */
  --space-xxxxl: calc(4 * var(--space-unit)); /* 64 */
  --space-xxxxxl: calc(8.75 * var(--space-unit)); /* 140 */

  --theme-icon-dimension: 1.6rem;
  --toggle-nib-dimension: 1.2rem;
  --answer-icon-dimension: 3.2rem;
  --btn-dimension: 4rem;
}

@font-face {
  font-family: rubik;
  src: url(assets/fonts/rubik.ttf);
}

@font-face {
  font-family: rubik-italic;
  src: url(assets/fonts/rubik-italic.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  height: 100dvh;
  width: 100dvw;
  background: var(--color-white);
  display: grid;
  align-items: center;
  justify-content: stretch;
}

.dark {
  background: var(--color-neutral);
}

.parent-container {
  height: 100%;
  width: 100%;
  max-width: 60rem;
  background: var(--color-neutral-xl);
  background-image: url(assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  font-family: rubik, sans-serif;
  color: var(--color-neutral-xd);
}

.dark .parent-container {
  background: var(--color-neutral-xd);
  background-image: url(assets/images/pattern-background-mobile-dark.svg);
  background-repeat: no-repeat;
  color: var(--color-white);
}

.header {
  height: 7.2rem;
  margin: var(--space-sm) var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic {
  display: flex;
  font-size: 1.8rem;
  gap: var(--space-sm);
  align-items: center;
}

.content {
  margin: var(--space-lg);
}

.theme {
  display: flex;
  gap: var(--space-xxs);
  align-items: center;
}

.theme__icon--sun {
  background: url(assets/images/icon-sun-dark.svg);
  background-size: var(--theme-icon-dimension);
}

.theme__icon--moon {
  background: url(assets/images/icon-moon-dark.svg);
  background-size: var(--theme-icon-dimension);
}

.dark .theme__icon--sun {
  background: url(assets/images/icon-sun-light.svg);
  background-size: var(--theme-icon-dimension);
}

.dark .theme__icon--moon {
  background: url(assets/images/icon-moon-light.svg);
  background-size: var(--theme-icon-dimension);
}

.theme__icon {
  height: var(--theme-icon-dimension);
  width: var(--theme-icon-dimension);
}

.toggle {
  appearance: none;
  position: relative;
  width: var(--space-xl);
  height: var(--space-md);
  padding: var(--space-xxxxs);
  cursor: pointer;
  border-radius: 100rem;
  background-color: var(--color-primary);
}

.toggle:before {
  content: "";
  position: absolute;
  width: var(--toggle-nib-dimension);
  height: var(--toggle-nib-dimension);
  background: var(--color-white);
  border-radius: 100rem;
  transition: transform cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked:before {
  transform: translateX(var(--toggle-nib-dimension));
}

.page {
  display: grid;
  gap: var(--space-xxl);
}

.heading {
  line-height: 1.2;
  font-weight: 500;
}

.heading--primary {
  margin-bottom: var(--space-sm);
  font-size: 4rem;
}

.heading--secondary {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-lg);
  font-size: 2rem;
}

.heading--primary::first-line {
  font-weight: 300;
}

.emphasis {
  font-family: rubik-italic;
  font-size: 1.4rem;
}

.dark .emphasis {
  color: var(--color-neutral-l);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.btn {
  all: unset;
  box-sizing: border-box;
  padding: var(--space-xs);
  background: var(--color-white);
  border-radius: var(--space-xs);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  transition: opacity 0.3s;
}

.dark .btn {
  background: var(--color-neutral-d);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.btn--topic:hover,
.btn--primary:hover {
  opacity: 50%;
}

.btn--option {
  padding: 0.9rem;
}

.btn--primary {
  padding: var(--space-md);
  display: grid;
  justify-content: center;
  line-height: 1;
}

.btn--primary,
.dark .btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--option {
  border: 0.3rem solid var(--color-white);
}

.dark .btn--option {
  border: 0.3rem solid var(--color-neutral-d);
}

.btn--option:hover .icon {
  background: var(--color-purple-l);
  color: var(--color-primary);
}

.option-status {
  margin-left: auto;
  display: flex;
}

.answer-img {
  height: var(--answer-icon-dimension);
  width: var(--answer-icon-dimension);
}

.answer-img--right {
  display: none;
}

.answer-img--wrong {
  display: none;
}

.btn--option[data-selected="true"] {
  border: 0.3rem solid var(--color-primary);
}

.btn--option.option-status--right {
  border: 0.3rem solid var(--color-green);
}

.btn--option.option-status--wrong {
  border: 0.3rem solid var(--color-red);
}

.option-status--answer .answer-img--right {
  display: block;
}

.option-status--wrong .answer-img--wrong {
  display: block;
}

.btn .icon {
  margin-right: var(--space-sm);
  color: var(--color-neutral);
}

.icon {
  height: var(--btn-dimension);
  width: var(--btn-dimension);
  background: var(--color-neutral-xl);
  border-radius: var(--space-xxxs);
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

.btn--option[data-selected="true"] .icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.btns .option-status--right .icon {
  background: var(--color-green);
  color: var(--color-white);
}

.btns .option-status--wrong .icon {
  background: var(--color-red);
  color: var(--color-white);
}

.icon.orange {
  background: var(--color-orange-l);
}

.icon.green {
  background: var(--color-green-l);
}

.icon.blue {
  background: var(--color-blue-l);
}

.icon.purple {
  background: var(--color-purple-l);
}

.icon__img {
  scale: 0.7;
}

.progress-bar {
  height: var(--space-sm);
  background: var(--color-white);
  border-radius: 100rem;
  padding: var(--space-xxxxs);
}

.dark .progress-bar {
  background: var(--color-neutral-d);
}

.progress {
  height: 100%;
  width: 0%;
  background: var(--color-primary);
  border-radius: 100rem;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xxs);
  font-size: 1.8rem;
}

.error-message__icon {
  height: var(--answer-icon-dimension);
  width: var(--answer-icon-dimension);
}

.hidden {
  display: none;
}

@media (min-width: calc(600em / 16)) {
  body {
    justify-content: center;
  }

  .parent-container {
    min-width: 60rem;
  }
}

@media (min-height: calc(1024em / 16)) and (min-width: calc(768em / 16)) {
  :root {
    --theme-icon-dimension: 2.8rem;
    --toggle-nib-dimension: 2rem;
    --answer-icon-dimension: 4rem;
    --btn-dimension: 5.6rem;
  }

  .parent-container {
    height: 102.4rem;
    width: 76.8rem;
    max-width: none;
    background-image: url(assets/images/pattern-background-tablet-light.svg);
  }

  .dark .parent-container {
    background-image: url(assets/images/pattern-background-tablet-dark.svg);
  }

  .header {
    margin: var(--space-xxxxl);
  }

  .topic {
    gap: var(--space-lg);
    font-size: 2.8rem;
  }

  .content {
    margin: var(--space-xxxxl);
  }

  .theme {
    gap: var(--space-xs);
  }

  .toggle {
    width: 4.8rem;
    height: 2.8rem;
  }

  .page {
    gap: var(--space-xxxxl);
  }

  .heading--primary {
    font-size: 6.4rem;
  }

  .heading--secondary {
    font-size: 3.6rem;
  }

  .emphasis {
    font-size: 2rem;
  }

  .btns {
    gap: var(--space-lg);
  }

  .btn {
    font-size: 2.8rem;
    border-radius: var(--space-lg);
  }

  .btn .icon {
    margin-right: var(--space-xl);
  }

  .btn--primary {
    padding: var(--space-xl);
  }

  .icon {
    border-radius: var(--space-xs);
  }

  .icon__img {
    scale: 1;
  }

  .error-message {
    font-size: 2.4rem;
  }
}

@media (min-width: calc(1440em / 16)) and (min-height: calc(960em / 16)) {
  .parent-container {
    width: 144rem;
    height: 96rem;
    background-image: url(assets/images/pattern-background-desktop-light.svg);
  }

  .dark .parent-container {
    background-image: url(assets/images/pattern-background-desktop-dark.svg);
  }

  .header {
    margin: var(--space-xxxxl) var(--space-xxxxxl);
  }

  .content {
    margin: var(--space-xxxxl) var(--space-xxxxxl);
  }

  .page {
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }

  .heading--primary {
    margin-bottom: var(--space-xxxl);
  }

  .btns {
    max-width: 56.4rem;
  }

  .btn {
    padding: var(--space-md);
  }

  .btn--option {
    padding: 1.5rem 1.7rem;
  }

  .btn--primary {
    margin-top: var(--space-xxs);
    padding: var(--space-xl);
  }

  .question {
    max-width: 46.5rem;
    display: flex;
    flex-direction: column;
  }

  .progress-bar {
    margin-top: auto;
    margin-bottom: 11.2rem;
  }
}
