/* 700 pixels and below */
@media (max-width: 43.75em) {
  .card {
    width: 343px;
    flex-direction: column;
  }

  .product-img {
    width: 343px;
  }

  .product-img--desktop {
    display: none;
  }

  .product-img--mobile {
    display: block;
  }
}

/* 350 pixels and below */
@media (max-width: 21.875em) {
  .product-price {
    flex-direction: column;
  }
}
