:root {
  --color-purple-d: hsl(292, 42%, 14%);
  --color-pink: hsl(281, 83%, 54%);
  --color-purple-l: hsl(292, 16%, 49%);
  --color-pink-l: hsl(275, 100%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --space-unit: 1.6rem;
  --space-xxxxs: calc(0.25 * var(--space-unit)); /* 4 */
  --space-xxxs: calc(0.375 * var(--space-unit)); /* 6 */
  --space-xxs: calc(0.5 * var(--space-unit)); /* 8 */
  --space-xs: calc(0.75 * var(--space-unit)); /* 12 */
  --space-sm: calc(1 * var(--space-unit)); /* 16 */
  --space-md: calc(1.25 * var(--space-unit)); /* 20 */
  --space-lg: calc(1.5 * var(--space-unit)); /* 24 */
  --space-xl: calc(2 * var(--space-unit)); /* 32 */
  --space-xxl: calc(2.5 * var(--space-unit)); /* 40 */
  --space-xxxl: calc(3 * var(--space-unit)); /* 48 */
  --space-xxxxl: calc(4 * var(--space-unit)); /* 64 */
  --space-xxxxxl: calc(8 * var(--space-unit)); /* 128 */
}

@font-face {
  font-family: work-sans;
  src: url(fonts/work-sans.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: work-sans, sans-serif;
  line-height: 1.5;
  color: var(--color-purple-d);
}

body {
  background-color: var(--color-pink-l);
  background-image: url(images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

main {
  width: 87.2dvw;
  max-width: 60rem;
  padding: var(--space-lg);
  border-radius: var(--space-xxs);
  background: var(--color-white);
  display: grid;
  gap: var(--space-lg);
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.icon-star {
  height: var(--space-lg);
  width: var(--space-lg);
}

.faqs {
  display: grid;
  gap: var(--space-md);
}

.faq {
  display: grid;
  gap: var(--space-lg);
}

.accordion {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  flex-basis: 80%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
}

.accordion:hover .question {
  color: var(--color-pink);
}

.icon {
  height: 3rem;
  width: 3rem;
}

.icon-minus {
  display: none;
}

.open .icon-minus {
  display: block;
}

.open .icon-plus {
  display: none;
}

.answer {
  display: none;
  font-size: 1.4rem;
  color: var(--color-purple-l);
}

.open .answer {
  display: block;
}

.separator {
  border-top: 0.1rem solid var(--color-pink-l);
}

@media (min-width: calc(376em /16)) {
  body {
    background-image: url(images/background-pattern-desktop.svg);
  }
}

@media (min-width: calc(689em / 16)) {
  h1 {
    font-size: 5.6rem;
  }

  .icon-star {
    height: var(--space-xxl);
    width: var(--space-xxl);
  }

  main {
    padding: var(--space-xxl);
    gap: var(--space-xl);
  }

  .question {
    flex-basis: 90%;
    font-size: 1.8rem;
  }

  .answer {
    font-size: 1.6rem;
  }
}
