* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: rgb(251, 116, 19);
  --dark-orange: rgb(226, 104, 17);
  --white: rgb(255, 255, 255);
  --light-grey: rgb(149, 158, 172);
  --medium-grey: rgb(124, 135, 152);
  --medium-dark-grey: rgb(59, 66, 75);
  --dark-grey: rgb(26, 31, 39);
  --very-dark-grey: rgb(18, 20, 23);

  --radius: 2.5rem;

  --bubble-size: 5rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--very-dark-grey);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--light-grey);
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 3rem;
}

.rating-container,
.thank-you-container {
  background: radial-gradient(at 50% 0%, var(--medium-dark-grey), var(--dark-grey));
  padding: 3rem;
  max-width: 40rem;
  border-radius: var(--radius);
}

.icon-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--medium-dark-grey);
  width: var(--bubble-size);
  height: var(--bubble-size);
  border-radius: 50%;
}

.rating-title {
  color: var(--white);
}

.rating-description {
  line-height: 1.6;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[class="rating"]:hover + .rating-text {
  background-color: var(--orange);
  color: var(--white);
}

input[class="rating"]:checked + .rating-text {
  background-color: var(--medium-grey);
  color: var(--white);
}

.rating-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--bubble-size);
  height: var(--bubble-size);
  background-color: var(--medium-dark-grey);
  border-radius: 50%;
  font-size: 1.6rem;
  font-family: sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

.btn {
  background-color: var(--orange);
  width: 100%;
  border: none;
  border-radius: var(--radius);
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--white);
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark-orange);
}

.btn:active {
  background-color: var(--white);
  color: var(--orange);
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem;
}

.thank-you-rating-text {
  display: inline-block;
  background-color: var(--medium-dark-grey);
  border-radius: var(--radius);
  padding: 1rem 2rem;
  font-family: sans-serif;
  color: var(--orange);
}

.thank-you-title {
  color: var(--white);
}

.thank-you-description {
  line-height: 1.6;
  text-align: center;
}

.hidden {
  display: none;
}

/* 425px */
@media (max-width: 26.5625em) {
  :root {
    --bubble-size: 4rem;
  }

  body {
    font-size: 1.4rem;
  }

  .mb-m {
    margin-bottom: 1.6rem;
  }

  .mb-l {
    margin-bottom: 2.4rem;
  }

  .rating-container {
    padding: 2.5rem;
    max-width: 32.5rem;
  }

  .thank-you-container {
    padding: 3.5rem 2.5rem;
    max-width: 32.5rem;
  }

  .rating-title,
  .thank-you-title {
    font-size: 2.4rem;
  }
}
